
@{
    ViewBag.Title = "Changelog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Changelog</h2>
<div>
    Features:
    <ul>
        <li>Datatables for main page</li>
        <li>Mobile view for index</li>
        <li>Advanced search criteria</li>
        <li>Generating spellbooks</li>
        <li>Generating spellcards</li>
    </ul>
    <br />
    Known bugs/issues:
    <ul>
        <li>
            Cards not printing to 9 a page (only printing 6)
        </li>
    </ul>
    Recently added:
    <ul>
        <li>Dec 17, 2015: Quick Link and Find functionality</li>
    </ul>

</div>
